@model Book

@{
    ViewData["Title"] = "AddBook";
}

<form method="post">
    <div class="border" p-3 mt-4>
        <div class="row pb-2">
            <h2 class="text-primary">Add a book</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CoverPath"></label>
            <input asp-for="CoverPath" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Language"></label>
            <input asp-for="Language" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Author</label>
            <input type="text" name="authorName" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Book List</a>

    </div>
</form>