@{
    ViewData["Title"] = "Update Book";
    var title = ViewBag.book.Title;
    var coverPath = ViewBag.book.CoverPath;
    var language = ViewBag.book.Language;
    var authors = ViewBag.authors;
}

<form method="post" asp-action="UpdateBook">
    <div class="border" p-3 mt-4>
        <div class="row pb-2">
            <h2 class="text-primary">Update Book info</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label>Title</label>
            <input asp-for=@title class="form-control" />
        </div>
        @*        <div class="mb-3">
        <label>Author</label>
        <input asp-for=@author class="form-control" />
        </div>*@
        <div class="mb-3">
            <label>Book Cover Link</label>
            <input asp-for=@coverPath class="form-control" />
        </div>
        <div class="mb-3">
            <label>Language</label>
            <input asp-for=@language class="form-control" />
        </div>

        @*dropdown menu*@
        <div class="mb-3">
            <label>Select an author</label>
            <select name="authorId">
                @foreach (var author in authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Book List</a>
        <a asp-controller="Author" asp-action="AddAuthor" class="btn btn-success mx-2" style="vertical-align:middle; align-items: center">Add a new author</a>
    </div>
</form>
